.presentation__container{
    padding-top: 30px;
}

.artists__container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 2rem;
    row-gap: 4rem;
    justify-content: center;
    padding: 30px 0px 30px 0px;
}

.artists__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.artists__label {
    display: flex;
    gap: 1rem;
}

.artists__image img {
    height: 250px;
}
@media(max-width: 1200px){
    .artists__image img {
        height: 250px;
    }
    .artists__container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        column-gap: 2rem;
    }
}
@media(max-width: 968px){
    .artists__image img {
        height: 250px;
    }
    .artists__container{
        display: flex;
        flex-direction: column;
        column-gap: 2rem;
    }
}

