@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #1DB954;
    --secondary-color: white;
    --background-color: black;

    --font-montserrat: 'Montserrat', sans-serif;
}

.header {
    padding: 2% 10% 2% 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__logos {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

}

.header__img {
    width: 10%;
}

.header__menu__name {
    color: var(--primary-color);
    font-family: var(--font-montserrat);
}

body {
    background-color: var(--background-color);
    box-sizing: border-box;
}

.presentation {
    color: var(--primary-color);
    font-family: var(--font-montserrat);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 5rem;
}

.button {
    width: 25%;
    padding: 2%;
    margin-top: 5%;
    border-radius: 16px;
    background-color: var(--primary-color);
    font-family: var(--font-montserrat);
    border: 4px solid var(--primary-color);
    font-size: large;
    cursor: pointer;
    transition: .3s ease-in-out;
    text-decoration: none;
    color: var(--background-color);
    text-align: center;
}

.button:hover {
    margin-top: 5%;
    background-color: var(--background-color);
    border: 4px solid var(--primary-color);
    color: var(--secondary-color)
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    color: var(--background-color);
    background-color: var(--primary-color);
    text-align: center;
    justify-content: center;
    font-family: var(--font-montserrat);
    font-size: 1.5rem;
    font-weight: 400;
}

.footer p {
    padding: 24px;
}

@media(max-width: 1200px){

}