@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #1DB954;
    --primary-darker:#17883e;
    --background-color: black;
    --secondary-color: #121212;
    --container-background-color: #222222;
    --text-color: #fff;
    --font-montserrat: 'Montserrat', sans-serif;
}

body {
    background: linear-gradient(135deg, var(--background-color), var(--secondary-color) 60%);
    box-sizing: border-box;
    height: 100vh;
    font-family: var(--font-montserrat);
}

.header {
    padding: 2% 10% 2% 10%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.header__container {
    display: flex;
    gap: 1rem;
    align-items: center;
    text-decoration: none;
}

.header__img {
    width: 10%;
}

.header__menu {
    display: flex;
    gap: 5rem;
}

.header__title {
    color: var(--primary-color);
    display: flex;
    font-size: 2rem;
}

.header__text {
    color: var(--primary-color);
    
    display: flex;
    justify-content: center;
}

.header__menu a {
    color: var(--primary-color);
    text-decoration: none;
    display: flex;
    font-size: 1.5rem;
}

.header__menu a:hover {
    text-decoration: underline;
}

.header__menu__dropdown__item__years{
    justify-content: center;
}

.header__menu__dropdown__item__years__submenu a{
    display: inline-block;
    opacity: 0;
    transition: opacity 1s ease-in-out; 
}

.header__menu__dropdown__item:hover .header__menu__dropdown__item__years__submenu a{
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

.presentation {
    padding: 5% 15%;
    color: var(--primary-color);
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.link__button {
    background-color: var(--container-background-color);
    /* border: 3px solid var(--background-color); */
    padding: 1rem 3.5rem;
    border-radius: 10px;
    cursor: pointer;
    transition: .2s ease-in-out;
    color: var(--text-color);
    text-decoration: none;
}

.link__button:hover{
    transform: scale(1.10);
    color: var(--primary-color);
}

.footer {
    border-top: 3px solid var(--container-background-color);
    position: fixed;
    bottom: 0;
    width: 100%;
    color: var(--text-color);
    /* background-color: var(--background-color); */
    padding-right: 100px;
    text-align: center;
    justify-content: center;
    font-size: 0.9rem;
    font-weight: 400;
}

.footer__content {
    
}

.footer p {
    padding: 24px;
}