@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #1DB954;
    --primary-darker:#17883e;
    --background-color: black;
    --secondary-color: #121212;
    --container-background-color: #222222;
    --subtitle-color: #9c9c9c;
    --text-color: #fff;
    --font-montserrat: 'Montserrat', sans-serif;
}

body {
    background: linear-gradient(135deg, var(--background-color), var(--container-background-color) 60%);
    box-sizing: border-box;
    height: 100vh;
    font-family: var(--font-montserrat);
}

.section {
    padding: 3rem 0 2rem;
}

.container {
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
}

.header {
    padding: 2% 10% 2% 10%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.header__container {
    display: flex;
    gap: 1rem;
    align-items: center;
    text-decoration: none;
}

.header__img {
    width: 10%;
}

.header__menu {
    display: flex;
    gap: 5rem;
}

.header__title {
    color: var(--primary-color);
    display: flex;
    font-size: 2rem;
}

.header__text {
    color: var(--primary-color);
    
    display: flex;
    justify-content: center;
}

.header__menu a {
    color: var(--primary-color);
    text-decoration: none;
    display: flex;
    font-size: 1.5rem;
}

.header__menu a:hover {
    text-decoration: underline;
}

.header__menu__dropdown__item__years{
    justify-content: center;
}

.header__menu__dropdown__item__years__submenu a{
    display: inline-block;
    opacity: 0;
    transition: opacity 1s ease-in-out; 
}

.header__menu__dropdown__item:hover .header__menu__dropdown__item__years__submenu a{
    transition: opacity 1s ease-in-out;
    opacity: 1;
}

.presentation {
    color: var(--primary-color);
    gap: 50px;
}

.item__container {
    display: grid;
    grid-template-columns: 1% 30% 30% 30%;
    margin-bottom: 1rem;
}

.item__container div {
    display: flex;
    align-items: center;
}

.item__image {
    display: flex;
    align-items: center;
}

.item__container img {
    margin-left: 2rem;
    width: 50px;
    border-radius: 15px;
}

.item__track__name {
    display: flex;
    justify-content: center;
}
.item__artist__name {
    display: flex;
    justify-content: flex-end;
}

.link__button {
    background-color: var(--container-background-color);
    padding: 1rem 3.5rem;
    border-radius: 10px;
    cursor: pointer;
    transition: .2s ease-in-out;
    color: var(--text-color);
    text-decoration: none;
}

.link__button:hover{
    transform: scale(1.10);
    color: var(--primary-color);
}

.footer__section {
    border-top: 3px solid var(--secondary-color);
    position: fixed;
    bottom: 0;
    width: 100%;
    color: var(--text-color);
    padding-right: 100px;
    text-align: center;
    justify-content: center;
    font-size: 0.9rem;
    font-weight: 400;
}

.footer__content__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
    margin-bottom: 2rem;
}

.footer__about {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer__about__text {
    text-align: justify;
    padding: 2rem 0;
}

.footer__contact h3{
    font-size: 0.9rem;
    color: var(--subtitle-color);
    margin-bottom: 10px;
}

.footer__contact__link {
    text-decoration: none;
    color: var(--text-color);
}

.footer__contact__link i{
    cursor: pointer;
    font-size: 1.35rem;
}
