.item__container__recently-tracks {
    display: grid;
    grid-template-columns: 20% 30% 30% 20%;
    margin-bottom: 1rem;
    width: 100%;
    align-items: center;
}

.item__container__recently-tracks .item__number {
    display: flex;
    justify-content: center;
}

.item__container__recently-tracks .item__image img{
    margin-left: 2rem;
    width: 70px;
    border-radius: 15px;
}

.item__container__recently-tracks .item__artist__name {
    display: flex;
    justify-content: center;
}

.item__container__recently-tracks .item__time {
    display: flex;
    justify-content: flex-end;
}

@media(max-width: 1200px){
    .item__container__recently-tracks .item__image{
        border-bottom: 2px solid white;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding:10%;
        gap: 30px;
        font-size: 30px;
    }
    .item__container__recently-tracks .item__image{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .item__container__recently-tracks .item__image img{
        margin: 0px;
        width: 70%;
    }
}