<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/styles/style.css">
    <!-- <link rel="stylesheet" href="/styles/style.css"> -->
    <script src="https://kit.fontawesome.com/5531950668.js" crossorigin="anonymous"></script>
    <title>Trackerfy</title>
</head>

<body>
    <header class="header">
            <a href="home.html" class="header__container">
                <i class="fa-brands fa-spotify fa-2xl" style="color: #1db954;"></i>
                <h1 class="header__title">Trackerfy</h1>
            </a>
    </header>

    <main class="presentation">
        <a class="link__button" href="artists.html">Top Artists</a>
        <a class="link__button" href="tracks.html">Top Tracks</a>
        <a class="link__button" href="genres.html">Top Genres</a>    
        <a class="link__button" href="years.html">Top Tracks Over the Years</a>
    </main>

    <footer class="footer">
        <div class="footer__content">
            <div class="footer__about__container">
                <i class="fa-brands fa-spotify fa-2xl" style="color: #1db954;"></i>
                <div class="footer__about__text">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                    Tenetur delectus odio temporibus officiis nihil unde consectetur possimus? 
                    Dolore, cumque cupiditate iste eligendi error molestiae
                    repudiandae animi corporis, accusamus sit similique?
                </div>
            </div>
            <div class="footer__contact__container">
                <h3>Contact</h3>
                <i class="fa-brands fa-github"></i>
            </div>
        </div>
        <p>Copyright <i class="fa-regular fa-copyright"></i> 2023, Trackerfy | All Rights Reserved</p>
    </footer>

</body>

</html>