<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/styles/style.css">
    <!-- <link rel="stylesheet" href="/styles/style.css"> -->
    <script src="https://kit.fontawesome.com/5531950668.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <title>Trackerfy</title>
</head>

<body>
    <header class="header">
            <a href="home.html" class="header__container">
                <i class="fa-brands fa-spotify fa-2xl" style="color: #1db954;"></i>
                <h1 class="header__title">Trackerfy</h1>
            </a>
    </header>

    <main class="presentation container">
        <!-- <a class="link__button" href="artists.html">Top Artists</a>
        <a class="link__button" href="tracks.html">Top Tracks</a>
        <a class="link__button" href="genres.html">Top Genres</a>    
        <a class="link__button" href="years.html">Top Tracks Over the Years</a> -->
        <div class="item__container">
            <div class="item__number">1</div>
            <div class="item__image">
                <img src="https://i.scdn.co/image/ab67616d0000b273ee1c566123c068249c4b114e" alt="item__photo">
            </div>
            <div class="item__track__name">
                Invisível
            </div>
            <div class="item__artist__name">
                Baiana System
            </div>
        </div>

        <div class="item__container">
            <div class="item__number">2</div>
            <div class="item__image">
                <img src="https://i.scdn.co/image/ab67616d0000b273ee1c566123c068249c4b114e" alt="item__photo">
            </div>
            <div class="item__track__name">
                N95
            </div>
            <div class="item__artist__name">
                Kendrick Lamar
            </div>
        </div>
    </main>

    <footer class="footer__section section">
        <div class="footer__content__container container">
            <div class="footer__about">
                <i class="fa-brands fa-spotify fa-2xl" style="color: #1db954;"></i>
                <div class="footer__about__text">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    Tenetur delectus odio temporibus officiis nihil unde
                </div>
            </div>
            <div class="footer__contact">
                <h3>Contact</h3>
                <a href="https://github.com/FernandoMMattos/spotifytracker" class="footer__contact__link">
                    <i class="uil uil-github-alt"></i>
                    <!-- <i class="fa-brands fa-github"></i> -->
                </a>
            </div>
        </div>
        <div>Copyright <i class="fa-regular fa-copyright"></i> 2023 Trackerfy | All Rights Reserved </div>
    </footer>

</body>

</html>