<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/login.css">
    <script src="https://kit.fontawesome.com/5531950668.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>


<body>
    <div class="header__div">
        <header class="header">
            <h1>Trackerfy</h1>
        </header>
        <main class="presentation">
            <div class="button__div">
                <h2>See your Spotify stats<br>And the most played songs!</h2>
                <button class="button">Enjoy!</button>
            </div>
        </main>
    </div>
    <footer class="footer__section section">
        <div class="footer__content__container container">
            <div class="footer__about">
                Made by
                <div class="footer__about__text">
                    <a href="https://github.com/FernandoMMattos" target="_blank">Fernando Mattos</a>
                    <a href="https://github.com/typeapositive" target="_blank">Giovanna Almeida</a>
                    <a href="https://github.com/cedraz" target="_blank">Icaro Cedraz</a>
                    <a href="https://github.com/CycleWs" target="_blank">Joao Henrique</a>
                    <a href="https://github.com/mgnxtx" target="_blank">Magno Tibiriçá</a>
                    <a href="https://github.com/peupeex" target="_blank">Pedro Gloria</a> 
                </div>
            </div>
        </div>
        <div class="footer__copyright">Copyright <i class="fa-regular fa-copyright"></i> 2023 Trackerfy | All Rights Reserved </div>
    </footer>
    <script src="/js/login.js"></script>
</body>
</html>