<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/styles/login.css">
    <script src="https://kit.fontawesome.com/5531950668.js" crossorigin="anonymous"></script>
    <title>Trackerfy</title>
</head>

<body>
    <header class="header">
        <div class="header__logos">
            <i class="fa-brands fa-spotify fa-2xl" style="color: #1db954;"></i>
            <h1 class="header__menu__name">Trackerfy</h1>
        </div>
    </header>
    <main class="presentation">
        <h2>See your Spotify stats<br>And the most played songs!</h2>
        <button class="button">Enjoy!</button>
    </main>
    <footer class="footer">
        <p>Trackerfy</p>
    </footer>

</body>

</html>