<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/styles/login.css">
    <link rel="stylesheet" href="/styles/footer.css">
    <!-- <link rel="stylesheet" type="text/css" href="/styles/style.css"> -->
    <script src="https://kit.fontawesome.com/5531950668.js" crossorigin="anonymous"></script>
    <title>Trackerfy</title>
</head>

<body>
    <header class="header">
        <div class="header__logos">
            <i class="fa-brands fa-spotify fa-2xl" style="color: #1db954;"></i>
            <h1 class="header__menu__name">Trackerfy</h1>
        </div>
    </header>
    <main class="presentation">
        <h2>See your Spotify stats<br>And the most played songs!</h2>
        <button class="button">Enjoy!</button>
    </main>
    <footer class="footer__section section">
        <div class="footer__content__container container">
            <div class="footer__about">
                <div class="footer__about__text">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    Tenetur delectus odio temporibus officiis nihil unde
                </div>
            </div>
            <div class="footer__contact">
                <h3>Contact</h3>
                <a href="https://github.com/FernandoMMattos/spotifytracker" class="footer__contact__link">
                    <i class="uil uil-github-alt"></i>
                </a>
            </div>
        </div>
        <div>Copyright <i class="fa-regular fa-copyright"></i> 2023 Trackerfy | All Rights Reserved </div>
    </footer>
    <script src="/js/login.js"></script>
</body>

</html>