<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Trackerfy</title>
</head>

<body>
    <header class="header">
        <div class="header__logos">
            <img class="header__img" alt="Spotify Logo" src="../assets/spotify_logo.png">
            <h1 class="header__menu__name">Trackerfy</h1>
        </div>
        <div class="header__text">
            <h1>Most played songs: </h1>
        </div>
        <div class="header__nav">
            <nav class="header__menu">
                <a href="/years">years</a>
            </nav>
        </div>
    </header>
    <main class="presentation">
        <h2>The top 20 songs most played this week are</h2>
        <h3>This part of the page will have the top 20 songs listed according to the number of plays that year.</h3>
    </main>
    <footer class="footer">
        <p>Trackerfy</p>
    </footer>
</body>

</html>