<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/header.css">
    <link rel="stylesheet" href="/styles/footer.css">
    <script src="https://kit.fontawesome.com/5531950668.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <title>Trackerfy</title>
</head>

<body>
    <header class="header">
        <div class="header__container container">
            <div class="home__link__container">
                <a href="/callback" class="header__home__link">
                    <h1 class="header__title">Trackerfy</h1>
                </a>
            </div>
            <div class="toggle__link__container" id="toggleLink">
                <i class="fa-solid fa-bars" id="navtog"></i>
            </div>
            <div class="links__container">
                <a href="/callback" class="spotify-link">Home</a> 
                <a href="/years" class="spotify-link">Top Hits in Years</a>
                <a href="/tracks" class="spotify-link">Tracks</a>
                <a href="/artists" class="spotify-link">Artists</a>
                <button class="logout spotify-link">Logout</button>
            </div>
        </div>
    </header>

    <main class="presentation__container container"  data-aos="fade-down">
        <div class="select__container">
            <label for="select_time">Choose a time range:</label>
            <div class="custom__select">
                <select name="select_time" id="time">
                    <option value="short_term">short</option>
                    <option value="medium_term">medium</option>
                    <option value="long_term">long</option>
                </select>
            </div>
            
            <button class="select__button">
                get tracks
            </button>
        </div>
        <div class="tracks"></div>
    </main>

    <footer class="footer__section section">
        <div class="footer__content__container container">
            <div class="footer__about">
                <div class="footer__about__text">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    Tenetur delectus odio temporibus officiis nihil unde
                </div>
            </div>
            <div class="footer__contact">
                <h3>Contact</h3>
                <a href="https://github.com/FernandoMMattos/spotifytracker" class="footer__contact__link">
                    <i class="uil uil-github-alt"></i>
                </a>
            </div>
        </div>
        <div>Copyright <i class="fa-regular fa-copyright"></i> 2023 Trackerfy | All Rights Reserved </div>
    </footer>

    <script src="/js/token.js"></script>
    <script src="/js/tracks.js"></script>
    <script src="/js/navbar.js"></script>
    <script src="/js/logout.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>

</html>